extends shared\shared

block config
    script(src="/js/pairTournament.js")
    -
        var title = ("Parowanie dla rundy: " + (tournamentData.currentRound))
block content-body
    div(class="container")
        include shared/sub-nav
        h1=title
        table(class="table text-center")
            thead
                th(scope="col") Stół
                th(scope="col") Punkty
                th(scope="col") Numer
                th(scope="col") Białe
                th(scope="col") Wynik
                th(scope="col") Czarne
                th(scope="col") Numer
                th(scope="col") Punkty
                th(scope="col") Stół
            tbody
                each pair, index in pairings
                    tr
                        th(scope="row")=(index + 1)
                        td=pair[0].score
                        td=(pair[0].id)
                        td=pair[0].name
                        input(type="hidden" value=pair[0].guid id=("white" + index))
                        td
                            select(class="form-control" name="score" id="score" onchange="scoreListener()")
                                option(value="---")
                                    p ---
                                each option in pointsOptions
                                    option(value=option)
                                        p=option
                        input(type="hidden" value=pair[1].guid id=("black" + index))
                        td=pair[1].name
                        td=(pair[1].id)
                        td=pair[1].score
                        td=(index + 1)
        div(class="form-horizontal d-flex justify-content-center align-items-center")
            div(class="form-group")
                input(type="submit" value="Prześlij wyniki" class="btn btn-primary"
                        id="nextRoundButton" onclick="nextRound()" disabled)
            div(class="form-group")
                input(type="hidden" name="id" value=tournamentData.id id="id")